# lyrics,words(of lyrics) folder below files because of copyright
src/main/resources/lyrics/*
!src/main/resources/lyrics/titleNameOfSong.json
src/main/resources/words/*
!src/main/resources/words/default-words.json

# api key files
src/main/resources/key

# backup folder
src/main/resources/backup/*

META-INF



.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Mac OS ###
.DS_Store
