# lyrics,words(of lyrics) folder below files because of copyright
src/main/resources/lyrics/*
!src/main/resources/lyrics/default-lyric.json
src/main/resources/words/*
!src/main/resources/words/default-word.json


# backup folder
src/main/resources/backup/*

META-INF

# env file
.env

.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Mac OS ###
.DS_Store
